/* this styles are for size 1360px */
body{
  font-family: sans-serif;
}
*{
  margin: 0px;
  padding: 0px;
}
.container{
  width: 40%;
  height: auto;
  margin: 0 auto;
  background-color: #ddd;
}
.container nav{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#prifileNameBox{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav button{
  border: none;
  background: transparent;
  margin: 20px;
}
nav button:hover{
  background-color: thistle;
}
.backBtn{
  font-size: 33px;
  width: 30px;
}
.profileBox{
  width: 100%;
  height: auto;
  margin-top: 5px;
}
.profileDetails{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.profileImgBox{
  border-radius: 50%;
}
.profileDetails img{
  border-radius: 50%;
}
.countBox{
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.profileStatistics{
  text-align: center;
  display: flex;
  flex-direction: column;
}
.profileStatistics >:first-child{
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 20px;
}
.bioBox a{
  text-decoration: none;
}
.bioBox{
  padding: 15px 0px 0px 45px;
  line-height: 25px;
}
.actionBox{
  margin: 0 auto;
  margin-top: 20px;
  width: 84%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}
#followBtn,#messageBtn{
  padding: 10px;
  width: 190px;
  border: 1px solid grey;
  border-radius: 4px;
}
#followBtn{
  background-color: #0094f6;
  color: white;
}
#messageBtn{
  background-color: white;
}
#otherUsersBtn{
  padding: 10px;
  width: 40px;
  font-size: 13px;
}
/* this styles are for size 576px */
@media (max-width: 576px) {
  .container{
      width: 100%;
  }
  #followBtn,#messageBtn{
      width: 180px;
  }
  #otherUsersBtn{
      width: 40px;
      font-size: 13px;
      font-weight: bold;
  }
}
/* this styles are for size between 577px-690px */
@media (min-width: 577px) and (max-width: 690px){
  .container{
      width: 100%;
  }
  #followBtn,#messageBtn{
      width: 180px;
  }
  #otherUsersBtn{
      width: 40px;
      font-size: 13px;
      font-weight: bold;
  }
}
/* this styles are for size between 691px-1359px */
@media (min-width: 691px) and (max-width: 1359px){
  .container{
      width: 50%;
  }
  #followBtn,#messageBtn{
      width: 180px;
  }
  #otherUsersBtn{
      width: 30px;
      font-size: 13px;
      font-weight: bold;
  }
}
